doctype html
html(lang="ko")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="style.scss")
    title Architect Studio
  body
    div.bar
        span GOW HASTINGS ARCHITECTS
    div.bar
        span Projects
    main.main
        nav.nav
            ul
                li.main__nav-item Education
                li.main__nav-item Food
                li.main__nav-item Meeting People
                li.main__nav-item Cinema
        div.filter
            span.filter__title Browse by client
            div.filter__types
                span.filter__name Featured
                span.filter__slash /
                span.filter__name.filter__name--selected Gallery
                span.filter__slash /
                span.filter__name List
        section.projects
            div.project
                img.project__img(src="https://source.unsplash.com/random", alt="")
                span.project__name This is my best client!
            div.project
                img.project__img(src="https://source.unsplash.com/random", alt="")
                span.project__name This is my best client!
            div.project
                img.project__img(src="https://source.unsplash.com/random", alt="")
                span.project__name This is my best client!
            div.project
                img.project__img(src="https://source.unsplash.com/random", alt="")
                span.project__name This is my best client!
            div.project
                img.project__img(src="https://source.unsplash.com/random", alt="")
                span.project__name This is my best client!
            div.project
                img.project__img(src="https://source.unsplash.com/random", alt="")
                span.project__name This is my best client!
            div.project
                img.project__img(src="https://source.unsplash.com/random", alt="")
                span.project__name This is my best client!
            div.project
                img.project__img(src="https://source.unsplash.com/random", alt="")
                span.project__name This is my best client!
            div.project
                img.project__img(src="https://source.unsplash.com/random", alt="")
                span.project__name This is my best client!
            div.project
                img.project__img(src="https://source.unsplash.com/random", alt="")
                span.project__name This is my best client!
            div.project
                img.project__img(src="https://source.unsplash.com/random", alt="")
                span.project__name This is my best client!
            div.project
                img.project__img(src="https://source.unsplash.com/random", alt="")
                span.project__name This is my best client!
            div.project
                img.project__img(src="https://source.unsplash.com/random", alt="")
                span.project__name This is my best client!
            div.project
                img.project__img(src="https://source.unsplash.com/random", alt="")
                span.project__name This is my best client!
            div.project
                img.project__img(src="https://source.unsplash.com/random", alt="")
                span.project__name This is my best client!
            div.project
                img.project__img(src="https://source.unsplash.com/random", alt="")
                span.project__name This is my best client!
    div.bar
        span Projects
    div.bar
        span Menu

